.slide :not(button) {
  animation-name: slide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
